<button *ngIf="isLoggedUser && crud" class="btn btn-success mb-3" (click)="edit()" >Nuovo dolce</button>
<div class="row mb-2">
    <div class="col-12 col-md-3" *ngFor="let cake of cakes">
        <div class="card shadow-sm mb-3" >
            <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17474084be4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17474084be4%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1875%22%20y%3D%2296.24375%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">{{cake.name}}</h5>
                <p class="card-text">
                    <span *ngIf="+cake.price !== cake.final_price" class="text-danger">({{cake.price | currency:'EUR'}})</span>
                    {{cake.final_price | currency:'EUR' }}

                </p>
                <span *ngIf="!cake.edible" class="badge badge-danger">Non commestibile</span>
                <small class="d-block mb-2">Preparata il {{cake.created_at | date }}</small>

                <ng-template #tipContent>
                    <span class="d-block" *ngFor="let ingredient of cake.ingredients">
                        {{ingredient.name}}: {{ingredient.quantity}} {{ingredient.unitmeasure}}
                    </span>
                    <span *ngIf="cake.ingredients.length === 0">Nessun ingrediente specificato</span>
                </ng-template>

                <a *ngIf="!crud" class="card-link" [ngbTooltip]="tipContent">{{cake.ingredients.length}} Ingredienti</a>
                <a *ngIf="isLoggedUser && crud" (click)="edit(cake)" class="card-link">Modifica</a>
                <a *ngIf="isLoggedUser && crud" (click)="delete(cake.id)" class="card-link text-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
        *ngIf="cakes"
        class="d-flex justify-content-center"
        [collectionSize]="collectionSize"
        [maxSize]="3"
        [(page)]="page"
        [pageSize]="recordsPerPage"
        (pageChange)="getCakes()">
    </ngb-pagination>

    <select
        *ngIf="cakes"
        class="w-auto custom-select"
        name="pages"
        (change)="setMaxRecords($event)"
        [(ngModel)]="recordsPerPage"
    >
        <option [value]="12">12</option>
        <option [value]="24">24</option>
        <option [value]="36">36</option>
        <option [value]="100">100</option>
    </select>
</div>
